div.nav-header-wrapper(id="nav-header-wrapper")
    div.global-system-notification(growl reference="globalSystemNotificationId" inline="true")
    nav#global-nav.navbar-default.navbar-global
        div.container-fluid
            div.navbar-header
                //- this is for when the subnav is collapsed due to screen size.
                    It will, onclick, switch the vm.isCollapsed value, sliding the subnav up and down
                a.navbar-brand.app-brand(ui-sref="root", aria-label="BOILERPLATE LABEL", title="Boilerplate")
                button.navbar-toggle(type="button", ng-click="vm.isCollapsed = !vm.isCollapsed")
                    span.sr-only(translate)
                        | Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar

            div#global-navbar-menu.collapsed.collapse.navbar-collapse(uib-collapse="vm.isCollapsed")
                ul.nav.navbar-nav.navbar-right
                    //- uib-keyboard-nav
                        This is the Angular-UI Bootstrap Dropdown widget.
                        https://angular-ui.github.io/bootstrap/#/dropdown
                        -- Key Directives & Attributes
                            - uib-keyboard-nav      - main wrapper
                            - uib-dropdown-toggle   - trigger
                            - uib-dropdown-menu     - the menu to show.
                            - aria-labeledby        - the id of the trigger.

                    li.dropdown(uib-dropdown, uib-keyword-nav)
                        a#global-nav-user-dropdown.active(uib-dropdown-toggle, href="", aria-label="vm.userDropdownAriaLabel")
                            span.icon.icon-user
                            | {{ vm.username }}
                            span.caret
                        ul.uib-dropdown-menu.dropdown-menu-global-nav(role="menu", aria-labelledby="global-nav-user-dropdown")
                            if dev
                                li.menuitem
                                    a(href="_assets/api/", target="_blank")
                                        span.icon.icon-oldapp
                                        span(translate)
                                            | Javascript API Documentation
                            li.menuitem
                                a(href="", ng-click="vm.logout($event)")
                                    span.icon.icon-power-off
                                    span(translate)
                                        | Log Out
