<div class="app-page">
    <div class="fields-list">
        <div class="fields-title">
            Enter your information 
            <ias-button class="ias-icon-button" title="More information">
                <ias-icon icon="help_thick"></ias-icon>
            </ias-button>
        </div>

        <ias-input-container class="ias-inline section-element">
            <label class="label label-large">Title</label>
            <span class="location-attr">
                <span class="title-pre"><input type="radio" name="salut" ng-model="$ctrl.m_salut" value="Ms."><span class="label-large-dark">Ms</span></span>
                <span class="title-pre"><input type="radio" name="salut" ng-model="$ctrl.m_salut" value="Mr."><span class="label-large-dark">Mr</span></span>
                <span class="title-pre"><input type="radio" name="salut" ng-model="$ctrl.m_salut" value="Dr."><span class="label-large-dark">Dr</span></span>
            </span>
        </ias-input-container>

        <ias-input-container class="ias-inline section-element">
            <label class="label label-large" for="name">Name</label>
            <input id="name" name="name" type="text" placeholder="Given name" ng-model="$ctrl.m_name">
        </ias-input-container>

        <ias-input-container class="ias-inline section-element">
            <label class="label label-large" for="famName"> </label>
            <input id="famName" name="famName" type="text" placeholder="Family name" ng-model="$ctrl.m_famName">
        </ias-input-container>

        <ias-input-container class="ias-inline section-element">
            <label class="label label-large" for="title">Job Title</label>
            <input id="title" name="title" type="text" placeholder="Title" ng-model="$ctrl.m_title">
        </ias-input-container>

        <ias-input-container class="ias-inline section-element">
            <label class="label label-large" for="email">Email</label>
            <input id="email" name="email" type="text" placeholder="Email" ng-model="$ctrl.m_email">
        </ias-input-container>

        <ias-input-container class="ias-inline section-element">
            <label class="label label-large">Birth date</label>
            <span id="birth-date">
                <select name="month" data-ng-options="month as month.name for month in $ctrl.m_months"
                        data-ng-model="$ctrl.m_bMonth">
                </select>
                <select name="day" data-ng-options="day as day.name for day in $ctrl.m_days"
                        data-ng-model="$ctrl.m_bDay">
                </select>
                <select name="year" data-ng-options="year as year.name for year in $ctrl.m_years"
                        data-ng-model="$ctrl.m_bYear">
                </select>
            </span>
        </ias-input-container>

        <ias-input-container class="ias-inline section-element">
            <label class="label label-large" for="zip">Zip code</label>
            <input id="zip" name="zip" type="text" placeholder="Zip Code">
        </ias-input-container>

        <ias-input-container class="ias-inline section-element">
            <label class="label label-large">Office</label>
            <span class="location-attr">
                <select name="office" data-ng-options="office as office.name for office in $ctrl.m_officeOptions"
                        data-ng-model="$ctrl.m_office">
                </select>
            </span>
        </ias-input-container>

    </div>

    <div class="button-bar">
        <ias-button ui-sref="page3">Next</ias-button>
        <ias-button ui-sref="page1">Cancel</ias-button>
    </div>
</div>