
//- Hidden-phone class will by default hide this sidebar on a mobile device.
div.navbar-primary.fade-in.hidden-phone(ng-class="{'expanded':vm.isSidebarOpen === true, 'collapsed':vm.isSidebarOpen === false}" )
    // ui-sref is the state view.
    a.menu-item(ui-sref="root", ng-class="{active: vm.isActive('/dashboard')}")
        //- This is here for Accessibility purposes; so the link has text inside of it.
        span.sr-only(translate)
            | Home
        div.icon.icon-home(title="Home" alt="{{ 'Home' | translate }}")
        div.menu-item-label.desc(ng-if="vm.isSidebarOpen === true")
            span.text(translate) Home

    a.menu-item(ui-sref="patterns", ng-class="{ active: vm.isActive('/patterns') }")
        //- This is here for Accessibility purposes; so the link has text inside of it.
        span.sr-only(translate)
            | Home
        div.icon.icon-patterns(title="Patterns" alt="{{ 'Patterns' | translate }}")
        div.menu-item-label.desc(ng-if="vm.isSidebarOpen === true")
            span.text(translate) Patterns

    //- a(ui-sref="main.alerts", ui-sref-opts="{reload: true}")
        a.menu-item(href="{{vm.oldUILink}}" onclick="window.openOldUI(); return false;")
            //- This is here for Accessibility purposes; so the link has text inside of it.
            span.sr-only
                | {{vm.productName}} Main
            //- title attribute value can't bind a value from controller currently
            //- see https://github.com/rubenv/angular-gettext/issues/246
            //- so get the complete translated string in js and bind that value
            //- and add a title-comment attribute starting with "Skip this" in html
                div.icon.icon-external-link(title-comment="Skip this, Nothing to translate here.",
                                            aria-label="{{ vm.translatedAriaString }}",
                                            title="{{ vm.translatedTitleString }}")
            img(src="_assets/img/sentinel-icon.png", title="{{ vm.translatedTitleString }}")
            div.menu-item-label.desc(ng-if="vm.isSidebarOpen === true")
                span.text(title="{{ vm.translatedTitleString }}", translate)
                    | {{ vm.productName }} Main

    button#bottomElement.btn-expand-collapse(type="button", ng-click="vm.openPrimaryNav()")
        span.sr-only(translate)
            | Toggle sidebar open and shut
        span.desc(ng-show="vm.isSidebarOpen === true", aria-label="{{'Close Navigation' | translate }}")
            span.icon.icon-angle-double-left
        span.desc(ng-hide="vm.isSidebarOpen === true", aria-label="{{'Open Navigation' | translate }}")
            span.icon.icon-angle-double-right

