div.container-fluid.main-content-container
    adf-dashboard(name="dashboard", structure="6-6", adf-model="vm.dashboard", editable="true", collapsible="true", maximizable="true", continuous-edit-mode="true")
    //- code
        | {{ vm.dashboard | json }}

