<div ng-If="!$ctrl.m_showCode" class="signin-div app-page">
    <div class="fields-title">
        Self register by requesting a registration code
        <ias-button class="ias-icon-button" title="More information">
            <ias-icon icon="help_thick"></ias-icon>
        </ias-button>
    </div>

    <div class="button-bar">
        <ias-button ng-click="$ctrl.showReg()" id="self-reg-but0">Request Code</ias-button>
    </div>
</div>

<div id="self-reg-page1" class="signin-div app-page" ng-If="$ctrl.m_showCode">
    <div class="fields-title">
        Enter registration code sent to you
        <ias-button class="ias-icon-button" title="More information">
            <ias-icon icon="help_thick"></ias-icon>
        </ias-button>
    </div>

    <ias-input-container class="registration-fields">
        <input id="regCode" name="regCode" type="text" placeholder="Enter Code" />
    </ias-input-container>

    <div class="button-bar">
        <ias-button ui-sref="page2">Next</ias-button>
    </div>
</div>
