.bluetooth-method {
    .device {
        vertical-align: middle;
    }

    .ias-tag {
        margin-right: 5px;
    }
    .ias-tags {
        margin-bottom: 20px;
    }

    .ias-icon {
        margin-right: 5px;
    }

    .loading-img {
        height: 30px;
        width: 30px;
    }
}