//- The UI-View is the named view within this module.
    We use this to demonstrate that within a module you have the ability to have multiple named views in a page.
    You can see how to configure and route these views in the app.config.
div
    div.well
        // The translate attribute makes this translatable.
        h1(translate)
            | Hello!
