<div class="user-card">
    <div>
        <span class="field-name">Username</span><span class="field-value">{{$ctrl.userConfig.userID}}</span>
    </div>
    <div>
        <span class="field-name">User DN</span><span class="field-value">{{$ctrl.userConfig.userDN}}</span>
    </div>
    <div>
        <span class="field-name">Email</span><span class="field-value">{{$ctrl.userConfig.userEmailAddress}}</span>
    </div>
    <div>
        <span class="field-name">LDAP Profile</span><span class="field-value">{{$ctrl.userConfig.ldapProfile}}</span>
    </div>
    <div>
        <span class="field-name">User ID</span><span class="field-value">{{$ctrl.userConfig.userID}}</span>
    </div>
    <div>
        <span class="field-name">Password last modified</span><span class="field-value">{{$ctrl.userConfig.passwordLastModifiedTime}}</span>
    </div>
</div>
