@import '../../themes/themes';

.authenticator-form {
  margin-top: 15px;

  .directory-data {
    color: black;
    font-size: 16px;
    vertical-align: middle;
  }

  .status-indicator {
    button,
    i {
      flex-shrink: 0;
    }

    font-size: 16px;
    max-width: $max-readable-width;
  }
}

.authenticator-buttons {
  margin-top: 30px;
}

.authenticator-category {
  label {
    display: inline-block;
    margin-top: 0;
  }

  .ias-button {
    margin-left: 20px;
  }
}

.authenticator-section {
  margin-bottom: 15px;
  margin-top: 15px;
}

.ias-button {
  min-width: 62px;
}

.ias-header {
  .primary-icon {
    color: $color-primary-2;
    font-size: 40px;
    margin-right: 5px;
  }

  .primary-icon-button {
    color: $color-gray-4;

    i {
      font-size: 28px;
    }

    &:focus,
    &:hover {
      color: #007cd0;
    }
  }

  .secondary-icon {
    color: $check-enrolled;
    margin-right: 15px;
  }
}
