IGHOST=http://127.0.0.1:8080
GHOST=http://127.0.0.1
IGARA_DB_URL=postgres:5432
IGARA_DB_PASSWORD=grafana
IGARA_DB_USER=grafana
IGARA_DB_NAME=grafana
IGOPS_DB_URL=postgres:5432
IGOPS_DB_PASSWORD=grafana
IGOPS_DB_USER=grafana
IGOPS_DB_NAME=grafana
