@charset "utf-8";

@import "../_globals/variables";
@import "../_globals/mixins";

// Badges
.badge {
    @include border-radius(30px);
    margin-left: $spacing-xs;
    vertical-align: bottom;
}

.badge-default {
    border: solid 1px darken($color-grey, 20%);
    background-color: $color-light-grey;
    color: $color-primary-text;
}

.badge-lg {
    padding: .2em .7em;
    font-size: 16px;
}


// Priority Labels
// ---------------------------

// Priority
.label-priority {
    @include border-radius(.25em);
    display: inline-block;
    width: auto;
    min-width: 76px;
    padding: .2em .6em;
    color: $priority-fg-color;
    font-size: $theme-font-size-xs;
    font-weight: $theme-font-weight-semibold;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}

// Priority 0 - 19
@for $i from 0 through 19 {
    .#{$priority-class-name}-#{$i} {
        background-color: $priority-0-19;
    }
}

// Priority 20 - 49
@for $i from 20 through 49 {
    .#{$priority-class-name}-#{$i} {
        background-color: $priority-20-49;
    }
}

// Priority 50 - 79
@for $i from 50 through 79 {
    .#{$priority-class-name}-#{$i} {
        background-color: $priority-50-79;
    }
}

// Priority 80 - 99
@for $i from 80 through 99 {
    .#{$priority-class-name}-#{$i} {
        background-color: $priority-80-99;
    }
}

// Priority 100
.#{$priority-class-name}-100 {
    background-color: $priority-100;
}

// Labels
.label {
    .ui-grid-cell-contents & {
        display: inline-block;
        width: 80%;
        max-width: 120px;
    }
}


// Priority Label selection
// ---------------------------

.priority-radio-group {

    input {
        &[type="radio"] {
            position: absolute;
            margin: 0;
            padding: 0;
            border: 0;
            outline: 0;
            opacity: 0;
        }
    }

    label {
        display: inline-block;
        width: auto;
        margin-top: 2px;
        cursor: pointer;

        .rb-label {
            @include border-radius(2px);
            @include simple-transition();

            margin-right: 4px;
            padding: 3px 12px;
            border: solid 2px;
            background-color: $color-white;
            font-size: $theme-font-size-xs;
            font-weight: $theme-font-weight-semibold;
            line-height: 22px;
            box-sizing: border-box;
        }

        input {
            &[type="radio"] {

                &:focus + .rb-label {
                    @include box-shadow(0, 0, 6px, 0, $color-primary-blue);
                }

                &:checked + .rb-label {
                    padding-left: 10px;
                    color: $color-white;

                    &::before {
                        padding-right: 4px;
                        content: "\2713";
                    }
                }

            }

        }

    }

    // Priority 0 - 19
    @for $i from 0 through 19 {
        .#{$priority-class-name}-#{$i} {
            border-color: $priority-0-19;
            color: $priority-0-19;
        }
    }

    // Priority 20 - 49
    @for $i from 20 through 49 {
        .#{$priority-class-name}-#{$i} {
            border-color: $priority-20-49;
            color: $priority-20-49;
        }
    }

    // Priority 50 - 79
    @for $i from 50 through 79 {
        .#{$priority-class-name}-#{$i} {
            border-color: $priority-50-79;
            color: $priority-50-79;

        }
    }

    // Priority 80 - 99
    @for $i from 80 through 99 {
        .#{$priority-class-name}-#{$i} {
            border-color: $priority-80-99;
            color: $priority-80-99;
        }
    }

    // Priority 100
    .#{$priority-class-name}-100 {
        border-color: $priority-100;
        color: $priority-100;
    }

    label {
        input {
            &[type="radio"] {
                &:checked + .rb-label {

                    // Priority 0 - 19
                    @for $i from 0 through 19 {
                        &.#{$priority-class-name}-#{$i} {
                            border-color: $priority-0-19;
                            background-color: $priority-0-19;
                            color: $color-white;
                        }
                    }

                    // Priority 20 - 49
                    @for $i from 20 through 49 {
                        &.#{$priority-class-name}-#{$i} {
                            border-color: $priority-20-49;
                            background-color: $priority-20-49;
                            color: $color-white;
                        }
                    }

                    // Priority 50 - 79
                    @for $i from 50 through 79 {
                        &.#{$priority-class-name}-#{$i} {
                            border-color: $priority-50-79;
                            background-color: $priority-50-79;
                            color: $color-white;

                        }
                    }

                    // Priority 80 - 99
                    @for $i from 80 through 99 {
                        &.#{$priority-class-name}-#{$i} {
                            border-color: $priority-80-99;
                            background-color: $priority-80-99;
                            color: $color-white;
                        }
                    }

                    // Priority 100
                    &.#{$priority-class-name}-100 {
                        border-color: $priority-100;
                        background-color: $priority-100;
                        color: $color-white;
                    }
                }
            }
        }
    }

}

// Incident Priority Label selection
// ----------------------------------
.priority-radio-group.incident-priority {

    $incident-priorities: $incident-priority-0, $incident-priority-1, $incident-priority-2, $incident-priority-3, $incident-priority-4, $incident-priority-5;

    // Normal state
    @for $i from 0 through 5 {
        .#{$incident-priority-class-name}-#{$i} {
            @if($i > 0) {
                border-color: nth($incident-priorities, $i+1);
                color: nth($incident-priorities, $i+1);
            } @else {
                border-color: $incident-priority-0;
                color: $incident-priority-0;
            }

        }
    }


    // Selected or checked state
    label {
        input {
            &[type="radio"] {
                &:checked + .rb-label {

                    @for $i from 0 through 5 {
                        &.#{$incident-priority-class-name}-#{$i} {
                            @if($i > 0) {
                                border-color: nth($incident-priorities, $i+1);
                                background-color: nth($incident-priorities, $i+1);
                                color: $color-white;
                            } @else {
                                border-color: $incident-priority-0;
                                background-color: $incident-priority-0;
                                color: $color-white;
                            }

                        }
                    }

                }
            }
        }
    }

}
