@charset "utf-8";

@import "../_globals/variables";
@import "../_globals/mixins";

// Buttons
.btn,
.btn-md {
    font-size: $theme-font-size-base;
    font-weight: $theme-font-weight-semibold;
    padding: 6px 26px;
}

.btn {
    @include simple-transition();

    .icon {
        @include simple-transition();
        margin-right: 6px;
    }

    &.btn-no-trans {
        transition: none;

        .icon {
            transition: none;
        }
    }

}

// Button Link
.btn-link {
    display: inline-block;
    vertical-align: middle;
    border: 0;
    padding: 10px 6px;
    line-height: 1;
    font-weight: $theme-font-weight-normal;
    text-decoration: underline;

    &.text-only {
        padding: 0 $spacing-xs;
        vertical-align: text-top;
    }
}

// Button Sizing
.btn-sm {
    font-size: $theme-font-size-xs;
    font-weight: $theme-font-weight-normal;
    padding: 3px 12px;
}

// Default Button
.btn-default {
    border-color: lighten($color-slate-grey, 30%);
    color: $color-primary-text;

    .icon {
        color: $color-dark-primary-blue;
    }

    &:hover,
    &:focus {
        background-color: lighten($color-dark-primary-blue, 58%);
        border-color: lighten($color-dark-primary-blue, 20%);
        color: $color-dark-primary-blue;
    }

    // Button active state declaration
    @mixin button-active-state() {
        background-color: $color-slate-grey;
        border-color: darken($color-slate-grey, 10%);
        color: $color-white;

        .icon {
            color: $color-white;
        }
    }

    &:active {
        &,
        &:hover {
            @include button-active-state();
        }
    }

    &.dropdown-toggle {
        // Caret
        .caret {
            @extend .icon;
            @extend .icon-arrow-expand-thin;

            width: auto;
            height: auto;
            margin-right: -$spacing-sm !important;
            margin-left: $spacing-base;
            border: 0;
            color: lighten($color-slate-grey, 10%);
        }

        &:hover {
            .caret {
                color: $color-dark-primary-blue;
            }
        }
    }

    .open > &.dropdown-toggle {
        @include button-active-state();

        &:hover {
            @include button-active-state();
        }

        // Caret
        .caret {
            color: $color-white;
        }
    }

    &[disabled] {
        @include opacity(1);
        color: lighten($color-slate-grey, 30%);

        &:hover {
            border-color: lighten($color-slate-grey, 30%);
            color: lighten($color-slate-grey, 30%);
        }

        .icon {
            color: lighten($color-slate-grey, 30%);
        }

    }
}

// Button Success
.btn-success {
    $button-success-color: #5b9c20;

    background-color: $button-success-color;
    border-color: $button-success-color;

    &,
    .icon {
        color: $color-white;
    }

    &:hover,
    &:focus {
        background-color: darken($button-success-color, 5%);
        border-color: darken($button-success-color, 10%);
    }

    &:active {
        &,
        &:hover {
            background-color: darken($button-success-color, 10%);
        }
    }

    &[disabled] {
        @include opacity(.45);

        &:hover {
            background-color: $button-success-color;
        }
    }
}

// Danger Alternate
.btn-danger-alt {
    $color-danger-alt: $color-nf-error;
    background-color: $color-white;
    border-color: lighten($color-slate-grey, 30%);
    color: $color-primary-text;

    .icon {
        color: $color-danger-alt;
    }

    &:hover,
    &:focus {
        background-color: lighten($color-danger-alt, 35%);
        border-color: lighten($color-danger-alt, 20%);
        color: $color-danger-alt;
    }

    &:active {
        &,
        &:hover {
            background-color: $color-danger-alt;
            border-color: darken($color-danger-alt, 10%);
            color: $color-white;

            .icon {
                color: $color-white;
            }
        }
    }

    &[disabled] {
        @include opacity(1);
        color: lighten($color-danger-alt, 30%);

        &:hover {
            border-color: lighten($color-danger-alt, 30%);
            color: lighten($color-danger-alt, 30%);
        }

        .icon {
            color: lighten($color-danger-alt, 30%);
        }

    }
}


// Buttons in a modal footer
.modal-footer .btn {
    padding: 10px 26px;
    font-size: $theme-font-size-md;
}
