@charset "utf-8";

@import "../_globals/variables";
@import "../_globals/mixins";

// Form Group
.form-group {
    margin-bottom: $spacing-md;

    label {
        font-weight: $theme-font-weight-semibold;
    }
}

// Form Label
.form-label {
    font-weight: $theme-font-weight-semibold;

    .form-group &-normal {
        font-weight: $theme-font-weight-normal;
    }
}

// Form Control
.form-control {
    border-radius: 2px;
    padding: 6px 10px;

    &:focus {
        @include box-shadow(inset 0 0 8px $color-primary-blue);
        border-color: $color-primary-blue;
    }

    &.width-full {
        width: 100%;

        &-icon-1 {
            width: calc(100% - 30px);
        }
        
    }

    &.width-50 {
        width: 50%;
    }

}

// Text Input
input {
    &[type="text"] {
        font-weight: $theme-font-weight-normal;
        color: $color-slate-grey;
    }
}

// Radio 
.radio,
.radio-inline {
    input {
        &[type="radio"] {
            margin-left: -$spacing-base;
        }
    }
}

.radio,
.radio-inline {
    input {
        &[type="radio"] {
            position: absolute;
            margin: 0;
            padding: 0;
            border: 0;
            outline: 0;
            opacity: 0;

            & + .rb-label {
                @include simple-transition();
                font-size: $theme-font-size-sm;
                font-weight: $theme-font-weight-normal;
                padding: 6px 16px 6px 0;

                &:before {
                    @extend .icon;
                    @extend .icon-radio-unchecked;
                    color: lighten($color-slate-grey, 30%);
                }

                &:hover {
                    cursor: pointer;

                    &:before {
                        color: lighten($color-slate-grey, 10%);
                    }
                }

            }

            &:focus + .rb-label {
                color: $color-primary-blue;
            }

            &:checked + .rb-label {
                &:before {
                    @extend .icon-radio-checked;
                    color: $color-primary-blue;
                }
            }

        }
    }

}


// Checkbox
.checkbox,
.checkbox-inline {
    input {
        &[type="checkbox"] {
            margin-left: -$spacing-base;
        }
    }
}

// Radio and checkbox inline
.radio-inline,
.checkbox-inline {
    padding-left: 0;   
}

.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
    margin-left: 0;
}

// Input field Hint
.input-hint {
    display: inline-block;
    font-size: $theme-font-size-xs;
    font-weight: $theme-font-weight-normal;
    font-style: italic;
    color: $color-slate-grey;
    line-height: 1.2em;
    margin-top: $spacing-xs;
}

// Mandatory
.mark-mandatory {
    padding-left: $spacing-xs;
    color: $color-red;
}

// Input Error
input {
    &[type=text].input-error {
        border: solid 1px $color-nf-error;
    }
}

// Input search
.input-search {
    position: relative;
    margin-bottom: $spacing-base;

    input {
        &[type=text] {
            @include border-radius(50px);
            width: 100%;
            border: solid 1px lighten($color-slate-grey, 30%);
            padding: 4px 6px 4px 32px;
            font-size: $theme-font-size-base;

            &:focus {
                outline: 0;
            }
        }
    }

    &:before {
        @extend .icon;
        @extend .icon-search;
        position: absolute;
        bottom: 11px;
        left: 12px;
        color: lighten($color-slate-grey, 30%);
    }
}

// Radio List
.radio-list {
    border: solid 1px lighten($color-slate-grey, 30%);
    margin: $spacing-sm 0;

    label {
        display: block;
        margin-bottom: 0;
        font-weight: $theme-font-weight-normal;
    }

    input {

        &[type=radio] {
            // display: none;
            position: absolute;
            top: 0;
            left: -100000px;

            & + .rb-label {
                @include simple-transition();
                display: block;
                border-bottom: solid 1px lighten($color-slate-grey, 40%);
                font-size: $theme-font-size-sm;
                padding: 6px 16px 6px 10px;
                box-sizing: border-box;

                &:hover {
                    cursor: pointer;
                    background-color: lighten($color-slate-grey, 50%);
                }

                &:before {
                    @extend .icon;
                    @extend .icon-radio-unchecked;
                    color: lighten($color-slate-grey, 30%);
                }
            }

            &:checked + .rb-label {
                background-color: lighten($color-primary-blue, 45%);
                border-color: $color-primary-blue;

                &:before {
                    @extend .icon-radio-checked;
                    color: $color-primary-blue;
                }
            }

            &:focus + .rb-label {
                box-shadow: 0 0 2px $color-primary-blue;
            }
        }

    }

}


// Typeahead dropdown
.dropdown-menu {
    border-color: lighten($color-slate-grey, 20%);

    // Dropdown menu item
    li {
        a {
            background-color: $color-white;
            padding: 3px 12px;
            color: $color-slate-grey;

            .icon {
                display: inline-block;
                width: 18px;
                text-align: center;
            }
        }

        &.active a {
            &,
            &:hover {
                background-color: lighten($color-slate-grey, 40%);
                color: $color-primary-text;
            }
        }

    }
}

// Button Group dropdown
.btn-group {
    .dropdown-menu {

        // Dropdown menu item
        li {
            a {
                color: $color-primary-text;

                .icon {
                    color: lighten($color-slate-grey, 10%);
                }

                &:focus,
                &:hover {
                    border-bottom-color: $color-primary-blue;
                    background-color: lighten($color-primary-blue, 45%);

                    &,
                    .icon {
                        color: $color-dark-primary-blue;    
                    }
                    
                }
            }

        }
    }
}



// Mega Radio list - To be cleaned
//---------------------------------
.radio-list-mega {
    margin: 0;
    border: solid 1px lighten($color-slate-grey, 20%);
    background-color: $color-white;
    height: 400px;
    overflow-y: auto;

    .rbm-list-item {
        position: relative;

        label {
            margin-bottom: 0;
            width: 100%;
        }

    }

    input {
        &[type="radio"] {
            position: absolute;
            top: 0;
            left: -100000px;

            &:focus + .rbm-content,
            &:hover + .rbm-content {
                background-color: lighten($color-slate-grey, 50%);

                &:before {
                    color: $color-slate-grey;
                }
            }

            &:checked {
                & + .rbm-content,
                &:focus + .rbm-content {
                    background-color: lighten($color-primary-blue, 45%);
                    border-bottom-color: $color-primary-blue;

                    &:before {
                        @extend .icon-radio-checked;
                        color: $color-primary-blue;
                    }
                }
            }

        }

    }

    .rbm-content {
        font-weight: normal;
        position: relative;
        padding: 12px 42px 6px 30px;
        border-bottom: solid 1px lighten($color-slate-grey, 36%);

        &:before {
            @extend .icon;
            @extend .icon-radio-unchecked;
            position: absolute;
            left: 10px;
            top: 12px;
            font-size: $theme-font-size-md;
            color: lighten($color-slate-grey, 30%);
        }

        &-title {
            font-weight: bold;
            margin: 0;
        }

        p {
            font-weight: normal;
            font-size: 12px;
            color: $color-slate-grey;
        }

        .rbm-content-details {
            font-size: $theme-font-size-sm;
        }

    }

    .btn-toggle-details {
        @extend .icon;
        @extend .icon-arrow-expand;
        position: absolute;
        padding: 6px 12px;
        right: 0;
        top: 50%;
        margin-top: -14px;
        text-decoration: none;
        color: lighten($color-slate-grey, 20%);

        &.btn-collapse {
            @extend .icon-arrow-collapse;
        }

        &:hover {
            color: $color-slate-grey;
        }
    }

}
