@charset "utf-8";

@import "../_globals/variables";
@import "../_globals/mixins";

$main-content-container-h-space:    $spacing-md;
$main-content-container-v-space:    $spacing-base;

.content,
.main-content {
    $spacer: 16px;
    $margin-collapsed: $navbar-primary-width-collapsed;
    $margin-expanded: $navbar-primary-width-expanded;

    position: relative;
    width: calc(100% - #{$margin-collapsed + $spacer});
    height: calc(100% - #{$navbar-primary-width-expanded});
    margin-top: 50px;
    margin-left: $margin-collapsed;
    z-index: 5;

    &.expanded {
        @include transition("all 2.55s ease-in-out");
        @include animation("all 2.55s ease-in-out");
        width: calc(100% - #{$margin-expanded + $spacer});
        margin-left: $margin-expanded;
    }
}

// Grid
.no-gutters {
    padding-right: 0;
    padding-left: 0;
}

.no-gutter-left {
    padding-left: 0;
}

.no-gutter-right {
    padding-right: 0;
}

// Smaller Gutters
.gutter-sm {
    $gutter-bs-default: 15px;
    > [class^="col"] {
        padding-right: $spacing-sm;
        padding-left: $spacing-sm;

        &:first-child {
            padding-left: $gutter-bs-default;
        }

        &:last-child {
            padding-right: $gutter-bs-default;
        }
    }
}

// Main Content
.main-content {
    @include simple-transition();

    height: 100%;
    margin-left: 60px;
    overflow: auto;
}

.main-content-wrapper {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    &-white {
        @include shadow-default();
        background-color: $color-white;
    }
}

.main-content.expanded {
    margin-left: 98px;
}

.main-content.collapsed {
    margin-left: 60px;
}

.main-content-padding {
    padding-right: 20px;
    padding-left: 20px;
}

.main-content-container {
    padding: 0 $main-content-container-h-space;

    &-spaced {
        padding: $main-content-container-v-space $main-content-container-h-space;
    }
}



