@charset "utf-8";

@import "../_globals/variables";
@import "../_globals/mixins";
@import "icons";

.global-notifications-wrapper {
    left: 20%;
    position: absolute;
    right: auto;
    top: 92px;
    width: 60%;
    z-index: 1099;

    .growl-item {
        @include box-shadow(0, 3px, 6px, 0, $box-shadow-45);

        width: 100%;
    }
}

// Setting global growl paddings.
.growl-item {
    &.icon {
        .growl-title,
        .growl-message {
            margin-left: 32px;
        }
    }

}

// Need to finish writing comments
.global-system-notification {

    .growl-item {
        @include border-radius(0);
        margin-bottom: 0;
        width: 100%;

        .close {
            @extend .icon;
            @extend .icon-cross-circle;
            @include opacity(.8);
            @include simple-transition();
            margin-right: 0 !important;
            top: 2px;

            &:hover {
                @include opacity(1);
            }

        }

        .growl-title {
            margin-left: 32px;
            font-weight: $theme-font-weight-semibold;
        }

        .growl-message {
            font-family: $base-font-family;
            font-size: $theme-font-size-base;
            font-weight: $theme-font-weight-normal;
            line-height: 1.4em;
            margin-left: 32px;

            a {
                @include simple-transition();
                font-weight: $theme-font-weight-semibold;
                text-decoration: underline;
            }

        }

    }

    // Warning Alert
    .alert-warning {
        background-color: $color-nf-warning-bg;
        border: solid 1px $color-nf-warning;

        .close {
            color: $color-nf-warning;

            &:hover {
                color: darken($color-nf-warning, 15%);
            }

        }

        &.icon {
            background-image: none;

            &:before {
                @extend .icon;
                @extend .icon-warning-triangle;
                color: $color-nf-warning;
                font-size: $theme-font-size-base * 1.5;
                position: absolute;
            }

        }

        .growl-message {
            color: $color-nf-warning-fg;

            a {
                color: $color-nf-warning-fg;

                &:hover {
                    color: darken($color-nf-warning-fg, 15%);
                }
            }

        }

    }

}


// Global Notification
.global-notifications-wrapper .growl-container {
    .growl-item {
        @include border-radius(2px);
        border-style: solid;
        border-width: 1px;
        display: block;
        padding: 14px 26px 14px 14px;
        padding-right: 26px;

        .close {
            @extend .icon;
            @extend .icon-cross-circle;
            @include opacity(.7);
            @include simple-transition();
            top: -6px;

            &:hover {
                @include opacity(1);
            }
        }

        .growl-title {
            margin: -2px 0 4px 26px;
            font-family: $base-font-family;
            font-size: $theme-font-size-md;
            font-weight: $theme-font-weight-semibold;
        }

        .growl-message {
            font-family: $base-font-family;
            font-size: $theme-font-size-sm;
            font-weight: $theme-font-weight-normal;
            line-height: 1em;
            margin-left: 26px;
        }
    }

    // Success Notification
    .alert-success {
        @include make-global-notification($color-nf-global-success-bg, $color-nf-global-success-fg);

        &.icon {
            &:before {
                @extend .icon;
                @extend .icon-check;
            }
        }
    }

    // Error or Danger Notificatoin
    .alert-danger {
        @include make-global-notification($color-nf-global-error-bg, $color-nf-global-error-fg);

        &.icon {
            &:before {
                @extend .icon;
                @extend .icon-warning-triangle;
            }
        }
    }

}

.inline-notification,
.notification-inline {

    .growl-item {
        @include border-radius(2px);
        border-style: solid;
        border-width: 1px;
        display: block;
        padding-right: 26px;
        width: 100%;

        .close {
            @extend .icon;
            @extend .icon-cross-circle;
            @include opacity(.7);
            @include simple-transition();
            top: 0;

            &:hover {
                @include opacity(1);
            }

        }

        .growl-title {
            margin: -2px 0 4px 26px;
            font-family: $base-font-family;
            font-size: $theme-font-size-md;
            font-weight: $theme-font-weight-bold;
        }

        .growl-message {
            margin-left: 26px;
            font-family: $base-font-family;
            font-size: $theme-font-size-sm;
            font-weight: $theme-font-weight-semibold;
            line-height: 1em;

            a {
                @include simple-transition();
                font-weight: $theme-font-weight-bold;
                text-decoration: underline;
            }

        }

    }

    // Info Alert
    .alert-info {
        border: solid 1px darken($color-nf-info-bg, 20%);
        background-color: $color-nf-info-bg;

        .close {
            color: $color-nf-info;

            &:hover {
                color: darken($color-nf-info, 15%);
            }

        }

        &.icon {
            background-image: none;

            &:before {
                @extend .icon;
                @extend .icon-info-circle;

                position: absolute;
                color: $color-nf-info;
                font-size: $theme-font-size-base * 1.2;
            }

        }

        .growl-message {
            color: $color-nf-info-fg;

            a {
                color: $color-nf-info-fg;

                &:hover {
                    color: darken($color-nf-warning-fg, 15%);
                }
            }

        }

    }

    // Success Alert
    .alert-success {
        border: solid 1px darken($color-nf-success-bg, 20%);
        background-color: $color-nf-success-bg;

        .close {
            color: $color-nf-success;

            &:hover {
                color: darken($color-nf-success, 15%);
            }
        }

        &.icon {
            background-image: none;

            &:before {
                @extend .icon;
                @extend .icon-check;
                position: absolute;
                color: $color-nf-success;
                font-size: $theme-font-size-base * 1.2;
            }

        }

        .growl-title {
            color: $color-nf-success-fg;
        }

        .growl-message {
            color: $color-nf-success-fg;
        }

    }


    // Error or Danger Alert
    .alert-danger {
        border: solid 1px darken($color-nf-error-bg, 20%);
        background-color: $color-nf-error-bg;

        .close {
            color: $color-nf-error;

            &:hover {
                color: darken($color-nf-error, 15%);
            }
        }

        &.icon {
            background-image: none;

            &:before {
                @extend .icon;
                @extend .icon-warning-triangle;
                position: absolute;
                color: $color-nf-error;
                font-size: $theme-font-size-base * 1.2;
            }

        }

        .growl-title {
            color: $color-nf-error-fg;
        }

        .growl-message {
            color: $color-nf-error-fg;
        }

    }

    // Warning Alert
    .alert-warning {
        border: solid 1px darken($color-nf-warning-bg, 20%);
        background-color: $color-nf-warning-bg;

        .close {
            color: $color-nf-warning;

            &:hover {
                color: darken($color-nf-warning, 15%);
            }
        }

        &.icon {
            background-image: none;

            &:before {
                @extend .icon;
                @extend .icon-warning-triangle;
                position: absolute;
                color: $color-nf-warning;
                font-size: $theme-font-size-base * 1.2;
            }

        }

        .growl-title {
            color: $color-nf-warning-fg;
        }

        .growl-message {
            color: $color-nf-warning-fg;
        }

    }

}

// Alert info large
.alert-info-large {
    position: relative;
    width: 72%;
    margin: 72px auto;
    padding: 0 0 0 48px;
    color: $color-nf-info-fg;

    &:before {
        @extend .icon;
        @extend .icon-3x;
        @extend .icon-info-circle;

        position: absolute;
        top: 0;
        left: 0;
        color: desaturate(lighten($color-nf-info, 40%), 20%);
        font-size: $theme-font-size-base;
    }

    &.no-margin {
        margin: 0;
    }

    .alert-info-title {
        font-size: $theme-font-size-lg;
        font-weight: $theme-font-weight-bold;
        line-height: 1.2em;

    }

    .alert-info-content {
        color: $color-secondary-text;
        font-size: $theme-font-size-base;
        font-weight: $theme-font-weight-normal;
        line-height: 1.2em;

        p {
            &:first-child {
                margin-top: 0;
            }
        }

    }

}

.tooltip {
    .tooltip-inner {
        padding: 10px;
        background-color: $color-light-grey;
        color: $color-black;
        box-shadow: 0 3px 3px $box-shadow-20;
    }

    &.left .tooltip-arrow {
        border-left-color: $color-light-grey;
    }
}
