// Panel
// Base class
$panel-default-body-color:      $color-white;
$panel-default-text:            $color-slate-grey;
$panel-default-border:          lighten($color-slate-grey, 35%);
$panel-default-heading-bg:      $color-white;
$panel-default-subheading-bg:   lighten($color-slate-grey, 45%);

$panel-body-padding-v:          $spacing-base;
$panel-body-padding-h:          $spacing-md;

.panel {
    @include shadow-thin();
    border: solid 1px $panel-default-border;
    color: $panel-default-text;
    background-color: $panel-default-body-color;
}

.panel-heading {
    background-color: $panel-default-heading-bg;
    border: 0;       
    border-bottom: solid 1px $panel-default-border;
    margin: 0 $panel-body-padding-h;
    padding: $spacing-base 0 $spacing-sm;
    overflow: auto;
    clear: both;

    .panel-title {
        float: left;
        color: $color-accent;
        font-size: $theme-font-size-md;
        font-weight: $theme-font-weight-semibold;
        vertical-align: middle;

        .icon {
            color: $color-slate-grey;
            margin-right: 2px;
        }
    }

    .panel-actions {
        float: right;
        margin-top: -10px;
    }

}

.panel-body {
    padding: $panel-body-padding-v $panel-body-padding-h;

    &.panel-spacer-h-none {
        padding: $panel-body-padding-v 0;
    }
}



.panel-subheading {
    background-color: $panel-default-subheading-bg;
    margin-top: $spacing-sm;
    margin-left: -#{$panel-body-padding-h};
    margin-right: -#{$panel-body-padding-h};
    padding: $spacing-xs $panel-body-padding-h;
    font-size: $theme-font-size-sm;
    font-weight: $theme-font-weight-semibold;
    color: $color-accent;
}

.panel-default {
    @include panel-variant($panel-default-border, $panel-default-text, $panel-default-heading-bg, $panel-default-border);
}



.field-row {
    $table-width-adj: $panel-body-padding-h * 2;
    display: table;
    width: calc(100% + #{$table-width-adj});
    border-bottom: solid 1px $panel-default-border;
    margin-left: -#{$panel-body-padding-h};
    margin-right: -#{$panel-body-padding-h};
    padding: 0 $panel-body-padding-h;

    .field-col {
        display: table-cell;
        border-right: solid 1px $panel-default-border;
        padding: $spacing-sm;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            border-right: 0;
            padding-right: 0;
        }
    }

    .field-col-half {
        width: 50%;
    }

    &:last-child {
        border-bottom: 0;
    }

    &.field-row-panel-bottom {
        margin-bottom: -$panel-body-padding-v;
    }
    
}

.field-row + .panel-subheading {
    margin-top: 0;
}
