@charset "utf-8";

@import "../_globals/variables";
@import "../_globals/mixins";
.tab-content {
    .tabs-code {
        padding-bottom: 0 !important;

        .nav-tabs {
            margin: $spacing-base 0 0;
            padding: 0;
            border-bottom-color: lighten($color-slate-grey, 25%);

            > li,
            li {
                border-radius: 0;
                border-bottom: 1px solid #ccc;

                &.active {
                    background-color: #f5f5f5;
                    margin-bottom: -1px;

                    a {
                        background-color: #f5f5f5;
                    }
                }

                a {
                    padding-right: 15px;
                    padding-left: 15px;
                    border-bottom: 1px solid #ccc;
                    border-radius: 0;
                }

                // First Menu Item
                &:nth-child(1) {
                    margin-left: $main-content-container-h-space;
                }

            }
        }
    }
}
