@charset "utf-8";

@import "../_globals/variables";
@import "../_globals/mixins";

// Dashboard
.dashboard {
    &.edit .column {
        border-color: darken($body-bg-color, 30%);
        background-color: desaturate(darken($body-bg-color, 6%), 5%);
    }
}


// Widget
.widget {
    @include shadow-default();
    border: solid 1px lighten($color-slate-grey, 35%);
    color: $color-slate-grey;

    // Widget heading
    .panel-heading {
        margin: 0 $spacing-md;
        padding: $spacing-base 0 $spacing-sm;
        border: 0;
        border-bottom: solid 1px lighten($color-slate-grey, 40%);
        background-color: transparent;

        .panel-title {
            color: $color-accent;
            font-size: $theme-font-size-md;
            font-weight: $theme-font-weight-semibold;

            .icon {
                margin-right: 2px;
                color: $color-slate-grey;
            }
        }

    }

    // Widget heading - Edit mode
    .edit & .panel-heading {
        .panel-title {
            float: left;
        }
    }

    // Widget Heading actions
    .panel-heading-actions {
        float: right;

        a {
            @include simple-transition();

            &,
            &:hover,
            &:focus {
                text-decoration: none;
            }

            .icon {
                color: lighten($color-slate-grey, 20%);
            }

            &:hover .icon {
                color: $color-dark-primary-blue;
            }

        }
    }

    // Widget Body
    .panel-body {
        padding: $spacing-base $spacing-md;
    }

    .label-sm {
        padding-right: $spacing-sm;
        color: $color-slate-grey;
        font-size: $theme-font-size-xs;
        font-weight: $theme-font-weight-bold;
    }

    .label-base {
        padding-right: $spacing-sm;
        color: $color-slate-grey;
        font-size: $theme-font-size-base;
        font-weight: $theme-font-weight-normal;
    }

    .label-md {
        padding-right: $spacing-sm;
        color: $color-slate-grey;
        font-size: $theme-font-size-md;
        font-weight: $theme-font-weight-semibold;
    }


    $insight: insight-value-base, insight-value-lg, insight-value-xl;

    @each $i in $insight {
        .#{$i} {
            display: inline-block;
            font-weight: $theme-font-weight-semibold;
            line-height: 1;
        }

        a.#{$i},
        .#{$i} > a {
            @include simple-transition();
            display: inline-block;
            position: relative;
            text-decoration: none;
            color: saturate($color-dark-primary-blue, 15%);

            &:after {
                @include simple-transition();
                position: absolute;
                bottom: 0;
                left: 50%;
                width: 0;
                height: 1px;
                background-color: lighten($color-dark-primary-blue, 10%);
                content: "";
            }

            &:hover,
            &:focus {
                background-color: lighten($color-slate-grey, 50%);
                color: lighten($color-dark-primary-blue, 10%);
                text-decoration: none;

                &:after {
                    left: 0;
                    width: 100%;
                }
            }

      }

    }

    .insight-value {
        &-base {
            font-size: initial;
        }

        &-lg {
            font-size: $theme-font-size-base * 2.8;
        }

        &-xl {
            font-size: $theme-font-size-base * 5.8;
            line-height: .86;
        }

    }

    .hover-highlight-values {

        &:hover {
            .insight-value-base,
            .insight-value-lg,
            .insight-value-xl,
            .insight-value-base a,
            .insight-value-lg a,
            .insight-value-xl a {
                background-color: lighten($color-slate-grey, 50%);
                color: lighten($color-dark-primary-blue, 10%);
                text-decoration: none;

                &:after {
                    left: 0;
                    width: 100%;
                }

                &:hover {
                    color: $color-dark-primary-blue;
                }
            }
        }

    }


}
