<form role="form">
    <div class="form-group">
        <div class="row spacer-out-bottom-xs" ng-repeat="faq in config.faqs">
            <div class="col-md-6">
                <label class="sr-only" for="heading-{{ $index }}" translate>
                    Heading
                </label>
                <input class="form-control" type="text" id="heading-{{ $index }}" placeholder="Heading" ng-model="faq.heading" required/>
            </div>
            <div class="col-md-6">
                <label class="sr-only" for="src-{{ $index }}" translate>
                    Src
                </label>
                <input class="form-control" type="text" id="src-{{ $index }}" placeholder="Src" ng-model="faq.src" required/>
            </div>
        </div>
    </div>
</form>
