<div class="app-page">
    <div class="fields-list">
        <div class="fields-title">
            Review and confirm your information <span class="mf-icon mf-icon-question_mark"></span>
        </div>

        <mf-input-container class="mf-inline">
            <label for="name">Name</label>
            <div id="name" class="field-summary">Mr Jonathan Smithsonian</div>
        </mf-input-container>
        <mf-input-container class="mf-inline">
            <label for="jobTitle">Job Title</label>
            <div id="jobTitle" class="field-summary">Marketing Development Specialist</div>
        </mf-input-container>
        <mf-input-container class="mf-inline">
            <label for="email">Email</label>
            <div id="email" class="field-summary">jon.smithsonian@companyxyz.com</div>
        </mf-input-container>
        <mf-input-container class="mf-inline">
            <label for="birthDate">Birth date</label>
            <div id="birthDate" class="field-summary">March 17, 1990</div>
        </mf-input-container>
        <mf-input-container class="mf-inline">
            <label for="location">Location</label>
            <div id="location" class="field-summary">Cambridge</div>
        </mf-input-container>
        <mf-input-container class="mf-inline">
            <label for="signInType">Sign in type</label>
            <div id="signInType" class="field-summary">
                <mf-tile class="mf-small social-tile" ng-attr-title="">
                    <img src="/assets/images/facebook.png"></img>
                </mf-tile>
            </div>
        </mf-input-container>
    </div>

    <div class="button-bar">
        <mf-button ui-sref="page4">Create Account</mf-button>
        <mf-button ui-sref="page1">Cancel</mf-button>
    </div>
</div>
