<header>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="header-top">
                <section class="width-fixer">
                    <div class="col-xs-6 column nopadding"><a class="navbar-brand-logo" href="http://www.canadalife.co.uk" target="_blank"><img src="images/cl_logo.png" class="left-brand-logo"></a></div>
                </section>
            </div>

            <div class="cl-bg-red">
                <!-- temporary removal -->
                <section class="width-fixer">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <span class="left-brand">
                            <a class="navbar-brand" href="http://www.canadalife.co.uk" target="_blank"><i class="fa fa-home fa-lg text-white"></i></a>
                        </span>
                    </div>

                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                    <!-- end temporary removal -->
                </section>
            </div>
        </div>
    </div>
</header>

<ui-view></ui-view>
