<header>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="header-top">
                <section class="width-fixer">
                    <div class="col-xs-6 column nopadding">
                        <h1>
                            <i class="fa fa-rocket fa-lg text-black"></i>
                            User Self Registration
                        </h1>
                    </div>

                </section>
            </div>

            <div class="cl-bg-red">
                <!-- temporary removal -->
                <section class="width-fixer">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <span class="left-brand">
                                <a class="navbar-brand" href="#" target="_blank"><i class="fa fa-home fa-lg text-white"></i></a>
                                <a href="#" target="_blank"><img src="images/cl_logo_whiteout_small.png" class="small_logo"></a>
                            </span>
                    </div>

                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="#" id="loginLink">Login</a></li>
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </div>
</header>

<ui-view></ui-view>

