<!DOCTYPE html>

<html lang="en">
<head>

    <title>User Self Registration</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="User Self Registration">

    <!-- base url -->
    <base href="/">
</head>

<body>
    <app-root>
        Loading...
    </app-root>

    <% if (htmlWebpackPlugin.options.livereload) { %>
        <script src="http://localhost:35729/livereload.js"></script>
    <% } %>

    <!--Pull angular libraries from a CDN-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.3/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.0-rc.1/angular-ui-router.min.js"></script>
</body>
</html>
