<!DOCTYPE html>

<html lang="en">
<head>
    <title>User Portal</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="User Self-Service Portal">

    <link id="theme-link" rel="stylesheet" href="assets/mfux/ng-mfux.css">

    <!-- base url -->
    <base href="/">
</head>

<body id="self-reg-proto">
    <portal-root>
        Loading...
    </portal-root>

    <% if (htmlWebpackPlugin.options.livereload) { %>
        <script src="http://localhost:35729/livereload.js"></script>
    <% } %>
</body>
</html>