// You can make this theme files as complex as you'd like.
// IMPORTANT: The end point to be read though will be "theme.css" in this "theme" folder
// You can use any pre-processor you'd like, the example here is in SCSS
//
// Compilation
// If you do want the theme to be in build process you can use the 'sass:theme' task to compile the theme directory


// Can use variables, mixins, etc.
$pale-blue: #bdeafd;
$well-border: #8c96b0;

.CHANGE-THIS-NAME-well {
    background-color: $pale-blue;
    border: 1px solid $well-border;
}

// Image Replacement:
//
// This replaces the built in image (logo-image in nav) with theme image.
// Use these rules to replace any image in the app.
// Use any CSS selector to grab the image; current common IDs are:
// #logo-img - main logo up in Global Navigation Bar.
//
img#CHANGE-THIS-NAME-logo-img {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url("/theme/generic-logo.png") no-repeat;
    width: 180px; /* Width of new image */
    height: 236px; /* Height of new image */
    padding-left: 180px; /* Equal to width of new image */
}
