<h2 class="dashboard-title">
    {{ model.title | translate }}
    <div class="btn-toolbar pull-right">

        <div class="btn-group" role="group" aria-label="{{ 'Dashboard Actions' | translate }}" ng-if="options.editable && editMode">
            <button type="button" class="btn btn-default btn-no-trans" ng-click="addWidgetDialog()">
                <i class="icon icon-plus"></i>
                <span translate>
                    Add widget
                </span>
            </button>

            <button type="button" class="btn btn-default btn-no-trans" ng-click="editDashboardDialog()">
                <i class="icon icon-layout"></i>
                <span translate>
                    Edit Layout
                </span>
            </button>

        </div>

        <!-- Cancel/Save Buttons -->
        <div class="btn-group" role="group" aria-label="{{ 'Saving the Dashboard.' }}" ng-if="options.editable && editMode">
            <button type="button" class="btn btn-default btn-no-trans" ng-click="cancelEditMode()" aria-label="{{ 'Cancel editing the dashboard' | translate }}">
                <i class="icon icon-cancel"></i>
                <span translate>
                    Cancel
                </span>
            </button>
            <button type="button" class="btn btn-default btn-no-trans" ng-click="toggleEditMode()">
                <i class="icon icon-save"></i>
                <span translate>
                    Save
                </span>
            </button>
        </div>

        <button type="button" class="btn btn-default btn-no-trans" ng-if="options.editable && !editMode" ng-click="toggleEditMode()">
            <i class="icon icon-pencil"></i>
            <span translate>
                Edit Dashboard
            </span>
        </button>

        <button type="button" class="btn btn-default btn-no-trans" ng-if="!editMode" ng-click="callEvent('reloadWidgetData')">
            <i class="icon icon-refresh"></i>
            <span translate>
                Refresh
            </span>
        </button>
    </div>
</h2>
<div class="spacer-out-bottom-base">
    <small class="label-block-inline">
        <span translate>
            Dashboard last updated at:
        </span>
        <span class="label-block-value">
            {{ model.dashboardLastUpdated | date: 'mediumTime' }}
        </span>
    </small>
</div>
