<div class=modal-header>
    <button class="close" type="button" ng-click="closeDialog()" aria-hidden="true" role="button"></button>
    <h4 class="modal-title">
        <i class="icon icon-layout"></i>
        <span translate>
            Edit Dashboard Layout
        </span>
    </h4>
</div>
<div class="modal-body">
    <form role="form">
        <div class="form-group">
            <label for="dashboardTitle" translate>
                Title
            </label>
            <input class="form-control" id="dashboardTitle" type="text" ng-model="copy.title" required />
        </div>
        <div class="radio-list" aria-label="{{ 'Layout Structure' | translate }}">
            <label class="font-normal" ng-repeat="(key, structure) in structures">
                <input type="radio"
                       id="dashboard-structure"
                       value="{{ key | translate }}"
                       ng-model="model.structure"
                       ng-change="changeStructure(key, structure)" />
                <span class="rb-label">
                    {{ key }}
                </span>
            </label>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="closeDialog()" role="button">
        <i class="icon icon-cross-circle"></i>
        <span translate>
            Close
        </span>
    </button>
</div>
