<h3 class="panel-title">
    <i class="icon {{ widget.config.icon }}" ng-if="widget.config.icon"></i>
    {{ definition.title | translate }}
</h3>
<div class="panel-heading-actions">
  <a href=""
     ng-if="widget.reload"
     ng-click="reload()"
     aria-label="Reload widget content">
      <i class="fa fa-refresh"></i>
      <span class="sr-only">
          Reload widget content
      </span>
  </a>
  <a href=""
     class="adf-move"
     ng-if="editMode"
     aria-label="Change widget location">
      <i class="icon icon-move"></i>
      <span class="sr-only">
          Change widget location
      </span>
  </a>
  <a href=""
     ng-show="options.collapsible && !widgetState.isCollapsed"
     ng-click="widgetState.isCollapsed = !widgetState.isCollapsed"
     aria-label="Collapse widget">
      <i class="icon icon-minimize"></i>
      <span class="sr-only">
          Collapse widget
      </span>
  </a>
  <a href=""
     ng-show="options.collapsible && widgetState.isCollapsed"
     ng-click="widgetState.isCollapsed = !widgetState.isCollapsed"
     aria-label="Expand widget">
      <i class="icon icon-plus"></i>
      <span class="sr-only">
          Expand widget
      </span>
  </a>
  <a href=""
     ng-click="edit()"
     ng-if="editMode && definition.isAllowed"
     aria-label="Edit widget configuration">
      <i class="icon icon-configuration"></i>
      <span class="sr-only">
          Edit widget configuration
      </span>
  </a>
  <a href=""
     ng-click="openFullScreen()"
     ng-show="options.maximizable"
     aria-label="Open widget full-screen">
      <i class="icon icon-maximize"></i>
      <span class="sr-only">
          Open widget full-screen
      </span>
  </a>
  <a href=""
     ng-click="remove()"
     ng-if="editMode"
     aria-label="Remove the widget">
      <i class="icon icon-trash"></i>
      <span class="sr-only">
          Remove the widget
      </span>
  </a>
</div>
