
doctype
html(ng-app="app", lang="en", ng-strict-di)
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge, chrome=1")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")
        title(ng-bind="$state.current.data.pageTitle") {{ $state.current.data.pageTitle }}

        //- Use the Bootstrap CDN; quicker than serving up our own copy.
            We will override what we need in our own stylesheet.
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
        link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/default.min.css")

        // build:css(.tmp) _assets/css/vendor.css
        // bower:css
        link(rel="stylesheet", href="_assets/bower/angular-growl-v2/build/angular-growl.css")
        link(rel="stylesheet", href="_assets/bower/angular-ui-grid/ui-grid.css")
        link(rel="stylesheet", href="_assets/bower/adf-angular-dashboard-framework/dist/angular-dashboard-framework.css")
        link(rel="stylesheet", href="_assets/bower/highlightjs/styles/default.css")
        // endbower
        link(rel="stylesheet", href="_assets/css/vendor.css")
        // endbuild
        // build:css(.tmp) _assets/css/app.css
        link(rel="stylesheet", href="_assets/css/app.css")
        // endbuild
        link(rel="stylesheet", href="/styles/theme.css")

    body
        //- The main content views.
            navigation.global   - top navigation bar
            navigation.sidebar  - main global sidebar.
            main.content        - center content area; can be subdividied within this view.
        div(ui-view="navigation.global")

        div.wrapper
            div(ui-view="navigation.sidebar")
            div.content
                div#main-content.fade-in(ui-view="main.content")

        // build:js(./) _assets/js/vendor.js
        // bower:js
        script(src="_assets/bower/jquery/dist/jquery.js")
        script(src="_assets/bower/angular/angular.js")
        script(src="_assets/bower/angular-animate/angular-animate.js")
        script(src="_assets/bower/angular-aria/angular-aria.js")
        script(src="_assets/bower/angular-cookies/angular-cookies.js")
        script(src="_assets/bower/angular-filter/dist/angular-filter.js")
        script(src="_assets/bower/angular-messages/angular-messages.js")
        script(src="_assets/bower/moment/moment.js")
        script(src="_assets/bower/angular-moment/angular-moment.js")
        script(src="_assets/bower/angular-resource/angular-resource.js")
        script(src="_assets/bower/angular-sanitize/angular-sanitize.js")
        script(src="_assets/bower/angular-gettext/dist/angular-gettext.js")
        script(src="_assets/bower/angular-ui-router/release/angular-ui-router.js")
        script(src="_assets/bower/angular-bootstrap/ui-bootstrap-tpls.js")
        script(src="_assets/bower/angular-growl-v2/build/angular-growl.js")
        script(src="_assets/bower/angular-ui-grid/ui-grid.js")
        script(src="_assets/bower/oclazyload/dist/ocLazyLoad.js")
        script(src="_assets/bower/Sortable/Sortable.js")
        script(src="_assets/bower/Sortable/ng-sortable.js")
        script(src="_assets/bower/marked/lib/marked.js")
        script(src="_assets/bower/angular-marked/dist/angular-marked.js")
        script(src="_assets/bower/adf-angular-dashboard-framework/dist/angular-dashboard-framework-tpls.js")
        script(src="_assets/bower/js-yaml/dist/js-yaml.js")
        script(src="_assets/bower/highlightjs/highlight.pack.js")
        // endbower
        // endbuild

        script(src="app.js")

        // change the nggettet_compile task to load it as file:
        // https://angular-gettext.rocketeer.be/dev-guide/compile/
        // <script src="i18n/resources-locale_de.json"></script>
