// Typography
//
// These variables will have all the text specific items

// Text font path for font styles light, light italic, regular, italic, bold and bold italic
$base-font-regular-url:                 "../fonts/text/Roboto-Regular";
$base-font-italic-url:                  "../fonts/text/Roboto-Italic";
$base-font-semibold-url:                "../fonts/text/Roboto-Medium";
$base-font-semibold-italic-url:         "../fonts/text/Roboto-MediumItalic";
$base-font-bold-url:                    "../fonts/text/Roboto-Bold";
$base-font-bold-italic-url:             "../fonts/text/Roboto-BoldItalic";

// Icon font path
//$icon-font-url:                           "../fonts/common-icons";

// Base font family
$base-font-family:                      "Roboto", Helvetica, Arial, sans-serif;

// Font size variants
$theme-font-size-base:                  14px !default;
$theme-font-size-md:                    ceil(($theme-font-size-base * 1.12)) !default;
$theme-font-size-lg:                    ceil(($theme-font-size-base * 1.3)) !default;
$theme-font-size-xl:                    ceil(($theme-font-size-base * 2)) !default;
$theme-font-size-xxl:                   ceil(($theme-font-size-base * 2.3)) !default;
$theme-font-size-sm:                    ceil(($theme-font-size-base * .9)) !default;
$theme-font-size-xs:                    ceil(($theme-font-size-base * .8)) !default;

// Text font line height
$theme-line-height-base:                1.428571429 !default;

// Font weights
//$theme-font-weight-normal:              300 !default;
//$theme-font-weight-semibold:            400 !default;
//$theme-font-weight-bold:                700 !default;

$theme-font-weight-normal:              400 !default;
$theme-font-weight-semibold:            500 !default;
$theme-font-weight-bold:                700 !default;

//** Border color for table and cell borders.
$table-border-color:                    #ddd !default;

// Theme Colors

// Primary Colors
$color-primary-blue:                    #26a9e0;
$color-dark-primary-blue:               #007fbf;
$color-light-blue:                      #70cff0;
$color-turquoise-blue:                  #00b7b7;
$color-accent-green-blue:               #00ebb6;


// Secondary Colors
$color-gold:                            #f1c40f;
$color-orange:                          #f39c12;
$color-red:                             #d1281b;
$color-purple:                          #914e8b;
$color-magenta:                         #c6325a;


// Neutrals
$color-accent:                          #2d3d45;
$color-primary-text:                    #3c515c;
$color-slate-grey:                      #697c87;
$color-secondary-text:                  #a1a6ae;
$color-grey:                            #eae9ea;
$color-light-grey:                      #eef2f2;
$color-white:                           #fff;
$color-black:                           $color-accent;
$color-full-black:                      #000000;

// Notification
$color-nf-warning:                      #f39c12;
$color-nf-warning-bg:                   desaturate(lighten($color-nf-warning, 42), 14);
$color-nf-warning-fg:                   saturate(darken($color-nf-warning, 10), 9);

$color-nf-info:                         $color-primary-text;
$color-nf-info-bg:                      desaturate(lighten($color-nf-info, 66), 20);
$color-nf-info-fg:                      $color-nf-info;

$color-nf-success:                      #4CAF50;
$color-nf-success-bg:                   desaturate(lighten($color-nf-success, 45), 10);
$color-nf-success-fg:                   darken($color-nf-success, 5%);

$color-nf-error:                        #dd5e54;
$color-nf-error-bg:                     desaturate(lighten($color-nf-error, 35), 10);
$color-nf-error-fg:                     $color-nf-error;

$color-nf-global-error:                 #df4848;
$color-nf-global-error-bg:              $color-nf-global-error;
$color-nf-global-error-fg:              $color-white;

$color-nf-global-success:               #4CAF50;
$color-nf-global-success-bg:            $color-nf-global-success;
$color-nf-global-success-fg:            $color-white;

$ui-grid-row-selection-bg:              lighten($color-light-blue, 26%);
$ui-grid-row-selection-border-color:    $color-primary-blue;
$ui-grid-row-error-bg:                  $color-nf-error-bg;
$ui-grid-row-error-border-color:        darken($ui-grid-row-error-bg, 20%);

// Priority Colors
$priority-0-19:                         #a1a6ae;
$priority-20-49:                        #007fbf;
$priority-50-79:                        #80c03c;
$priority-80-99:                        #f39c12;
$priority-100:                          #d71c1c;
$priority-fg-color:                     $color-white;

$priority-class-name: priority;

// Incident Priority Colors
$incident-priority-0:                   #a1a6ae;
$incident-priority-1:                   #007fbf;
$incident-priority-2:                   #80c03c;
$incident-priority-3:                   #f39c12;
$incident-priority-4:                   #ff5627;
$incident-priority-5:                   #d71c1c;
$incident-priority-6:                   #900c3f;
$incident-priority-fg-color:            $color-white;

$incident-priority-class-name: incident-priority;

// Spacers
$spacing-xs:    4px;
$spacing-sm:    8px;
$spacing-base:  16px;
$spacing-md:    24px;
$spacing-lg:    32px;
$spacing-xl:    48px;
$spacing-xxl:   64px;


$spacer-size-list: (
    xs:     $spacing-xs,
    sm:     $spacing-sm,
    base:   $spacing-base,
    md:     $spacing-md,
    lg:     $spacing-lg,
    none:   0
);

$spacer-sides: top right bottom left;
$box-boundary-list: (
    in: padding,
    out: margin
);


// Box Shadow Colors
$box-shadow-20: rgba(0, 0, 0, .2);
$box-shadow-45: rgba(0, 0, 0, .45);
$box-shadow-60: rgba(0, 0, 0, .6);


// Layout Colors
$body-bg-color: $color-light-grey;
$body-fg-color: $color-primary-text;


// Navbar Global colors
$navbar-global-bg-color: desaturate(lighten($color-dark-primary-blue, 8%), 10%);
$global-nav-dropdown-color: darken($navbar-global-bg-color, 10%);
$navbar-global-height: 50px;


// Navbar Primary Width
$navbar-primary-width-collapsed: 60px;
$navbar-primary-width-expanded: 98px;

// Brand Logo
$logo-app-brand: "../img/logo-main-app.png";


// Responsive breakpoints
$breakpoint-sm: 767px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;
