@charset "utf-8";

@import "_globals/variables";
@import "_globals/mixins";

.nav-header-wrapper {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
}

.nav-content-wrapper {
    bottom: 0;
    position: fixed;
    width: 100%;
    // top will be set dynamically based on #nav-header-wrapper height, so don't set top explicitly here.
}

.main-content {
    height: 100%;
    margin-left: 60px;
    margin-top: 0;
    overflow-x: hidden;
    overflow-y: auto;
    width: calc(100% - 60px);
}

.main-content.expanded {
    margin-left: 98px;
}

.main-content.collapsed {
    margin-left: 60px;
}

.main-content-padding {
    padding-left: 20px;
    padding-right: 20px;
}

// Section header for overview in Alert Details.
h3.header {
    border-bottom: 1px solid $color-light-blue;
    margin: 0;
    padding: 0 0 10px;
}

.ui-grid-pager-count-container {
    float: left;
}

.ui-grid-selection-row-header-buttons {
    background-color: transparent;
    border-color: transparent;
    margin: 0;
    padding: 0;
}

.page-loader {
    height: 100vh;
    position: relative;
    width: 100%;
    z-index: 5;

    .progress-indicator {
        height: 100vh;
        z-index: 5;
    }
}

// hide arrow
.tooltip.score-tooltip .tooltip-arrow {
    display: none;
}

span.value.highlight {
    background: $color-gold;
}

//
// The following are changes were made to create the Micro Focus IAS look and feel.  These changes are here for now, but
// need to be worked into the correct place in the right *.scss files.
//

@font-face {
    font-family: 'm-icons';
    src:  url('../fonts/icons/m-icons.eot?fbtk6h');
    src:  url('../fonts/icons/m-icons.eot?fbtk6h#iefix') format('embedded-opentype'),
    url('../fonts/icons/m-icons.ttf?fbtk6h') format('truetype'),
    url('../fonts/icons/m-icons.woff?fbtk6h') format('woff'),
    url('../fonts/icons/m-icons.svg?fbtk6h#m-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

@mixin mf-icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'm-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$mf-font: "Helvetica Neue Thin", "Helvetica Neue", Helvetica, Arial, san-serif;

body {
    background-color: white;
}

.panel {
    background-color: #eef2f2;
}

.navbar-global {
    background: linear-gradient(to right, #01A9E7, #007CD0);

    .navbar-brand {
        background: none;
        margin-top: 0;

        &:before {
            color: #fff;
            content: "CX-App";
            font-family: $mf-font;
            font-size: 22px;
            font-weight: 200;
            letter-spacing: 1px;
        }
    }

    .navbar-nav {
        > .dropdown {
            a {
                color: #fff;
                font-family: $mf-font;
                font-size: 13px;

                &, &:hover, &:focus, &:active {
                    background-color: transparent;
                }

                .icon-user {
                    display: none;
                }

                .caret {
                    @include mf-icon;
                    border: 0;
                    margin-bottom: 12px;
                    margin-left: 6px;

                    &:before {
                        content: "\e901";
                    }
                }
            }

        }

        > .open > a {
            &, &:hover, &:focus, &:active {
                background-color: transparent;
            }
        }

        .dropdown-menu {
            background-color: #434c50;
            top: 40px;

            &::before {
                display: none;
            }

            li {
                margin-left: 5px;
                margin-right: 5px;

                a {
                    border-radius: 2px;
                    color: #f6f6f6;

                    &:hover {
                        background-color: #59656a;
                    }

                    .icon-power-off {
                        display: none;
                    }
                }
            }
        }
    }
}

.dashboard-container {
    .panel {
        border: none;
        box-shadow: initial;

        .panel-heading {
            border-bottom: none;

            .panel-title {
                color: #808080;
                font-family: $mf-font;
                font-size: 15px;
                text-transform: uppercase;

                .icon-link {
                    display: none;
                }
            }
        }
    }

    .btn {
        background-color: #f6f9f8 !important;
        border: 1px solid #dae1e1;
        color: #434c50;
        font-family: $mf-font;
        font-size: 14px;

        &:hover, &:focus, &:active {
            border: 1px solid #01a9e7;
            box-shadow: none;
            color: #1773bb;
            cursor: pointer;
        }

        > i {
            display: none;
        }
    }

    h2.dashboard-title {
        color: #1f1f1f;
        font-family: $mf-font;
        font-size: 24px;
        font-weight: unset;
    }

    small.label-block-inline {
        color: #808080;
        font-family: $mf-font;
        font-size: 12px;
    }
}

.navbar-primary {
    background-color: #eef2f2;

    a.menu-item {
        color: #a1aeb6;

        &:hover {
            color: #1773bb;
        }

        &.active {
            background-color: #dae1e1;
        }
    }

    .btn-expand-collapse {
        border-top: transparent;
        color: #a1aeb6;

        &:hover {
            background-color: transparent;
            color: #1773bb;
        }
    }
}

.tabs-hidden .nav.nav-tabs {
    display: none;
}

ul.secondary-nav {
    background-color: #dae1e1;
    //min-width: 175px;

    .list-item-title {
        text-decoration: none;

        &:hover {
            color: #1773bb;
        }

        &:after {
            @include mf-icon;
            content: "\e900";
            padding-left: 5px;
        }

        &.btn-collapse:after {
            content: "\e902";
        }
    }

    li {
        &.active {
            background-color: #f6f9f8;

            a {
                color: #1773bb;
            }
        }

        a {
            color: #434c50;

            &:hover {
                color: #1773bb;
                text-decoration: none;
            }
        }
    }
}
