<header>
    <mf-app-bar class="mf-large">
        <h3 class="mf-title">CX-App</h3>
    </mf-app-bar>
    <mf-nav>
        <a ui-sref="page1" ui-sref-active="mf-active">Page 1</a>
        <a ui-sref="page2" ui-sref-active="mf-active">Page 2</a>
        <a ui-sref="page3" ui-sref-active="mf-active" class="mf-disabled" title="Coming soon">Page 3</a>
        <a ui-sref="page4" ui-sref-active="mf-active" class="mf-disabled" title="Coming soon">Page 4</a>
    </mf-nav>
</header>

<main>
    <ui-view></ui-view>
</main>
