<header>
    <mf-app-bar class="mf-large">
        <h3 class="mf-title">User Self Registration</h3>
        <span class="mf-fill"></span>
        <mf-button mf-toggle="accountMenu" title="Descriptive Title">
            Theme
            <mf-icon icon="down_thick"></mf-icon>
        </mf-button>
        <mf-menu name="accountMenu">
            <mf-button ng-click="$ctrl.setTheme('standard')">Standard</mf-button>
            <mf-button ng-click="$ctrl.setTheme('dark')">Dark</mf-button>
        </mf-menu>
    </mf-app-bar>
    <mf-nav>
        <a ui-sref="page1" ui-sref-active="mf-active">Page 1</a>
        <a ui-sref="page2" ui-sref-active="mf-active">Page 2</a>
        <a ui-sref="page3" ui-sref-active="mf-active">Page 3</a>
        <a ui-sref="page4" ui-sref-active="mf-active">Page 4</a>
    </mf-nav>
</header>

<main>
    <ui-view></ui-view>
</main>
