<div ng-class="{ 'col-md-6': patterns.layout === 2, 'col-md-12': patterns.layout === 1 }">
    <div class="">
        <div class="patterns-description"></div>
    </div>
</div>
<div ng-class="{ 'col-md-6': patterns.layout === 2, 'col-md-12': patterns.layout === 1 }">
    <div class="pattern"></div>
</div>
<div class="col-md-12">
    <div class="" ng-show="patterns.meta && !patterns.meta.hidecode">
        <div ng-repeat="meta in patterns.meta">
            <span ng-hide="meta.hidecode">{{ meta }}</span>
        </div>
    </div>
    <div class="tabs-flat tabs-code">
        <ul class="nav nav-tabs">
            <li ng-repeat="code in tabs" ng-class="{ 'active' : tab == code.title}">
                <a class="tab-head"
                   href="javascript:void(0);"
                   ng-click="showTab(code.title);">
                    {{ code.title }}
                </a>
            </li>
        </ul>
    </div>
    <div ng-repeat="code in tabs">
        <pre class="{{ code.title }}" ng-show="tab == code.title"><code class="language-markup">{{ code.code | trim }}</code></pre>
    </div>
</div>
