<div ng-show="patterns.path" class="">
    <div class="">
        <div pattern-library patterns="patterns" src="patterns.path"></div>
    </div>
    <div class="">
        <div class="patterns-description"></div>
    </div>
    <div class="" ng-show="patterns.meta && !patterns.meta.hidecode">
        <div ng-repeat="meta in patterns.meta">
            <span ng-hide="meta.hidecode">{{ meta }}</span>
        </div>
    </div>
    <div class="example-code" ng-hide="patterns.meta.hidecode">
        <a class="toggle-code" ng-hide="patterns.meta.hidecode" ng-class="{ active:patterns.togglecode }" ng-click="patterns.togglecode = !patterns.togglecode">
            <em class="fa fa-code fa-lg" />
        </a>
        <pre ng-show="patterns.togglecode">
            <code class="language-markup"></code>
        </pre>
    </div>
</div>
