$white: #fff;
$black: #000;
$mercury: #e6e6e6;
$alto: #dedede;
$silver: #bdbdbd;
$shuttle-gray: #53626a;

.ui-grid {
    .ui-grid-pager-panel {
        position: fixed
    }
}
.tab-content {
    background-color: $white;

    .tabs-hidden {
        .patternNav {
            .nav-tabs {
                display: none;
            }

            .tabs-flat .nav-tabs {
                display: block;
            }

            .tab-content {
                border-top: 0;
            }
        }

        .codeTabs {
            .nav-tabs {
                display: block;
            }
        }
    }

    .nav-tabs {
        padding: 10px;
        border-bottom: 0;

        li {
            margin-right: 10px;

            a {
                border: 0;
                border-radius: 4px;
                border-bottom-color: $white;
                background-color: $mercury;
                color: $shuttle-gray;
            }

            &.active {
                a {
                    border: 2;
                    border-radius: 4px;
                    border-bottom-color: $alto;
                    background-color: $white;
                    color: $shuttle-gray;
                }
            }
        }
    }

    .tab-content {
        padding-top: 10px;
        border-top: 1px solid $silver;
        background: $white;
    }

    .tabs-flat {
        padding: 5px 0;
    }
}

.palette {
    display: inline-table;
    width: 100%;
    margin-left: 0;
    font-size: 0;
    list-style: none;

    h3 {
        color: $silver;
        font-size: 14px;
        font-weight: 600;
    }

    li {
        display: table-cell;
        width: 16%;
        margin-right: 1%;
        padding-right: 1%;
        color: $white;
        font-size: 13px;
        text-align: center;
    }

    span {
        display: block;
    }

    .color {
        height: 80px;
        padding-top: 1.5em;

        &.light {
            color: $white;
        }

        &.dark {
            color: $black;
        }
    }

    .color:first-child {
        border: 5px solid $black;
        border-radius: 5px 5px 0 0;
    }

    .color:last-child {
        border-radius: 0 0 5px 5px;
    }
}

.patterns-description {
    h4 {
        margin-top: 2rem;
    }
}
