app-page3 {
    .social-options {
        margin-top: 20px;

        mf-tile-grid {
            margin-top: 20px;
        }
    }

    .strength-meter {
        display: inline-block;
        margin-left: 10px;
        position: relative;
        vertical-align: middle;

        .mf-icon {
            left: 0;
            position: absolute;
            top: -21px;

            &::before {
                font-size: 35px;
            }
        }

        .password-strength-base::before {
            color: #dae1e1;
        }

        .password-strength-status.mf-icon-strength1::before,
        .password-strength-status.mf-icon-strength2::before,
        .mf-icon-strength1 + .password-strength-status-text,
        .mf-icon-strength2 + .password-strength-status-text {
            color: #e50000;
        }

        .password-strength-status.mf-icon-strength3::before,
        .mf-icon-strength3 + .password-strength-status-text {
            color: #f17e12;
        }

        .password-strength-status.mf-icon-strength4::before,
        .mf-icon-strength4 + .password-strength-status-text {
            color: #01a9e7;
        }

        .password-strength-status.mf-icon-strength5::before,
        .mf-icon-strength5 + .password-strength-status-text {
            color: #0061bd;
        }

        .password-strength-status-text {
            position: absolute;
            top: -10px;
            left: 45px;
        }
    }
}
