<mf-dialog ng-click="onScrimClicked()">
    <mf-dialog-content ng-click="$event.stopPropagation()">
        <div class="mf-dialog-header">
            <div class="mf-title">Random Passwords</div>
        </div>
        <div class="mf-dialog-body">
           Select a password from one of the following:
            <div class="password-list">
                <a ng-repeat="password in $ctrl.generatedPasswords track by $index" ng-click="$ctrl.selectPassword(password, cancel)">{{password}}</a>
            </div>
        </div>
        <div class="mf-actions">
            <mf-button ng-click="cancel()">Close</mf-button>
        </div>
        <mf-button class="mf-icon-button mf-dialog-close-button" ng-click="cancel()">
            <mf-icon icon="close_thick"></mf-icon>
        </mf-button>
    </mf-dialog-content>
</mf-dialog>
